h1, h2, h3, p {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  width: 100%;
  padding: 20px;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

button:hover {
  transform: translateY(-3px);
}

button:active {
  transform: translateY(2px);
}

.App-link {
  color: #61dafb;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer {
  padding: 10px 20px;
  text-align: center;
  background-color: #333;
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}