
/* Main container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff6e5;
    font-family: 'Comic Sans MS', cursive;
}
  
.app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
  
.help-btn {
    font-size: 2rem;
    padding: 10px;
}
  
.main-content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-grow: 1; 
    gap: 60px; 
    width: 100%;
}
  
.headline h1 {
    font-size: 3.5rem;
    color: #211e19;
    text-shadow: 2px 2px #fc6daf;
    margin: 0;
}
  
.button {
    padding: 20px 50px;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 8px 0 #fc6daf;
    color: #211e19;
}
  
.bn-yellow {
    background-color: #f7d734;
    color: #211e19;
}

.bn-pink {
    background-color: rgb(247, 160, 228);
    color: #211e19;
}

.start-button {
    padding: 8px 20px;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 8px 0 rgb(123, 211, 111);
    color: #211e19;
}

.bn-green {
    background-color: rgb(141, 245, 128);
    color: #211e19;
}
  
.button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 0 #fc6daf;
}
  
/* Modal */
.modal {
    display: flex;
    align-items: center;
    gap: 10px; 
}
  
input {
    padding: 12px 20px;
    font-size: 1.5rem;
    border: 2px solid #211e19;
    border-radius: 25px;
    width: 100%;
}
  

@media (max-width: 600px) {
    .headline h1 {
      font-size: 2.5rem;
    }
    .exit-button {
        border: none;
        padding: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .exit-button:hover {
        transform: scale(1.1);
    }

    input {
        font-size: 1.2rem;
        }
}


/* Help Modal */
.help-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: 1000;
}
  
.help-content {
    background: #fff6e5;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 8px 0 #fc6daf;
}
  
.help-content h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}
  
.help-content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}
  
.close-btn {
    background-color: #fc6daf;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
}
  


